.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all ease 300ms;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.audio-player {
    position: relative
}

.audio-player .progress-bar {
    opacity: 0;
}

.bread-crumbs ul {
    white-space: nowrap;
    overflow: auto;
}

.sub-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.top-page .filter-button {
    position: relative;
    z-index: 2;
}

.item-media .label-right {
    left: auto;
    right: 12rem;
}

.tour-card .tour-media .label-right {
    left: auto;
    right: 12rem;
}

.audio-player audio {
    opacity: 0;
    position: absolute
}

.preloader img {
    max-width: 50rem;
    max-height: 50rem;
    user-select: none;
}

.preloader.active {
    z-index: 150;
    opacity: 1;
    visibility: visible;
}

.tour-form {
    display: flex;
    flex-wrap: wrap;
}

.booking-tour__info {
    width: 100%;
    max-width: 470rem;
}

.booking-moto__info .item-desc {
    height: 444rem;
}

#card-errors {
    width: 100%;
}

.step-item {
    top: -1000%;
}

.accordion-item__text li, .map-items .route-btn li {
    position: relative;
    font: 400 20rem / 150% "PP Radio Grotesk";
    color: rgba(0, 0, 0, .7);
    padding-left: 20rem;
}

.tour-accordion-first li {
    padding-left: 0;
}

.tour-accordion-first li:before {
    display: none;
}

.accordion-item__text li {
    color: rgba(0, 0, 0, 1);
}

.accordion-item__text li:before, .map-items .route-btn li:before {
    position: absolute;
    content: '';
    left: 0;
    top: 13rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .7);
}

.item-list li {
    align-items: center;
}

.accordion-item__text li:before {
    background-color: rgba(0, 0, 0, 1);
}

.map-items .route-btn.active li, .map-items .route-btn:hover li {
    color: rgba(237, 236, 228, .8);
}

.map-items .route-btn.active li:before, .map-items .route-btn:hover li:before {
    background-color: rgba(237, 236, 228, .8);
}

#card-element {
    width: 100% !important;
}

.tour-form {
    position: relative;
    padding: 10rem 15rem;
    background: rgba(222, 220, 211, 0.50);
    border-radius: 40rem;
}

.step-inner .input-tr {
    margin-bottom: 20rem;
    padding: 14rem 20rem 14rem;
}

.expiry_year, .cvv, .expiry_month {
    max-width: 30%;
}

.one-day-calendar .day:after {
    display: none !important;
}
.essence-media{    
    width: 100%;
    max-height: 620rem;
}
.essence-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 620rem;
    object-position: 0 30%;
}
.info-media img{
    max-height: 620rem;
    object-fit: cover;
    height: 100%;
}
.banner-item .banner-media{    width: 100%; max-width: 740rem;}
.banner-media img {
    width: 100%;
    max-height: 520rem;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: bottom;
}
.banner-item.banner-gray .banner-media{ margin-top: 30rem;}
.banner-item.banner-gray .banner-media img{max-height: 640rem;}     
.rental-item__media img {
    height: 360rem;
    border-radius: 20rem;
}
.reviews-info .slide{
   height: 830rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.reviews-info .slide, .reviews-video .slide{
    clip-path: polygon( 0% 2.893%,0% 2.893%,0.048% 2.424%,0.186% 1.979%,0.407% 1.564%,0.703% 1.184%,1.068% 0.847%,1.493% 0.558%,1.97% 0.323%,2.493% 0.147%,3.054% 0.038%,3.646% 0%,96.354% 0%,96.354% 0%,96.946% 0.038%,97.507% 0.147%,98.03% 0.323%,98.507% 0.558%,98.932% 0.847%,99.297% 1.184%,99.593% 1.564%,99.814% 1.979%,99.952% 2.424%,100% 2.893%,100% 95.336%,100% 95.336%,99.954% 95.797%,99.82% 96.236%,99.605% 96.646%,99.317% 97.021%,98.963% 97.357%,98.549% 97.646%,98.083% 97.883%,97.572% 98.063%,97.022% 98.18%,96.442% 98.228%,3.734% 100%,3.734% 100%,3.132% 99.972%,2.559% 99.87%,2.024% 99.7%,1.535% 99.467%,1.099% 99.178%,0.725% 98.839%,0.42% 98.457%,0.192% 98.036%,0.049% 97.585%,0% 97.108%,0% 2.893% );
    max-height: 800rem;
}
.post-page .post-image img{
    object-fit: cover;
    height: 100%;
    max-height: 580rem;
}
.post-page .post-content img {
    height: 550rem;
    object-fit: cover;
    object-position: bottom;
}
.blog-page .item-text,
.blog-slider .item-text{
    display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px){
    .people-item__media img {
        height: 240rem;
        object-position: bottom;
    }
}